:root {
  --main_color: #0d0d0d;
}

body {
  background-color: var(--main_color);
  padding: 0%;
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  
}
/* nav{
    width: 70px;
} */

nav {
    width: 70px;    /* the width of your side navigation */
    transform: translateX(-290%); /* hidden at start */
    transition: transform 0.4s ease; /* smooth animation */
}

nav.active {
    transform: translateX(0); /* slide in */
}

/* #searchBtn{
  margin-bottom: 100%;
} */